.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.body {
  flex: 1;
  //display: flex;
}

.bottom {
  flex: 0;
  border-top: solid 1px var(--adm-border-color);
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #ffffff;
}

.home .iconfont{
  font-size: 20px;
}