.content {
  //height: 212px;
  color: #ffffff;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
  //position: fixed;
  top: 0;
  padding-bottom: 41px;
}
/**轮播图 */
.swiperImg{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height:'500px';
  width: '100%';
  cursor: 'pointer';
}



/**首页租房小组部分*/

.nvbar {
  color: black !important;
  margin-bottom: 4px;
}

.navImg{
  width: 48px;
}

.navTitle{
  margin-top: 33px;
  font-size: 13px;
  font-weight: normal;
}

/**首页兴趣小组部分*/

.groups{
  color: #000;
  background-color: #f6f5f6;
  overflow: hidden;
  padding: 0 10px;
}

.groupsTile{
  position: relative;
    margin: 15px 0px 15px 10px;
    font-size: 15px;
    
}

.groupsMore{
  color: #787d82;
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: normal;
}

.groupItem{
  background: #ffffff;
  text-align: center;
  color: #999999;
  height: 75px;
  display:flex;
  line-height: 9px;
  justify-content: center;
  align-items: center;
}

.groupItem:active {
  background-color: #f3f2f3;
}

.groupDesc{
  margin: 0 0 0 auto;
}

.itemTitle{
  color: #000;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

.itemInfo{
  font-size: 12px;
  color: #999;
}

.itemImg{
  margin: 10px auto;
  font-size: 12px;
}

.agroupGrid{
  margin-bottom:10px;
}

/** 首页最新资讯 部分*/
.news{
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}

.newsTitle{
  color: black !important;
  margin: 10px 0 5px 10px;
  font-size: 15px;
}

.newsItems{
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}

.newsItems:last-child {
  border: 0;
}

.newsItemImg{
  margin: 0;
}
.newsImgwrap{
  float: left;
  height: 90px;
  width: 120px;
  margin: 10px auto 10px 10px;
}

.newsItemContent{
  color: #000;
  font-size: 13px;
  margin: 10px 15px;
  flex: 1;
  display: inline-grid;
}

.newsItemTitle{
  margin-bottom: 15px;
  font-size: 14px;
  margin-bottom: auto;
  font-weight: bold;
}

.newsItemInfo{
  width: 100%;
  color: #9c9fa1;
  font-size: 12px;
  //line-height: 6;
  display: flex;
}
.from{
  margin: auto 0 0;
}

.date{
  margin: auto 0 0 auto;
}